    body{
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         margin: auto;
         padding-top: 40px;
         position: relative;
         width: 960px;
         color: #555;
    }
    
    #svg_trend{
         overflow:hidden; 
    }
        .trend {
        cursor: pointer;
    }
    .trend_line {
        stroke: #555;
        stroke-width:2.5;
        fill:none;
    }
    .sparkline_title{
       font-size:12px; 
       font-weight: bold;
       fill:#555;
    }
    .sparkline_current{
       font-size:18px; 
       font-weight: bold;
       fill:#A2B69A;
    }
    .trend_end_point{
        fill:#A2B69A;
    }
    .sparkline_axis path,
    .sparkline_axis line {
        fill: none;
        stroke: #666;
        stroke-width:2;
        shape-rendering: crispEdges;
    }
    .sparkline_axis path {
        display: none;
    }
    .sparkline_axis text {
        font-size: 12px;
        font-weight: bold;
    }