    body{
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         margin: auto;
         padding-top: 40px;
         width: 960px;
         color: #555;
    }
    
    svg {
        /*border: 1px solid black;*/
    }
    
    #svg_context{
         overflow:hidden;         
    }
    
    #svg_population{
         overflow:hidden;         
    }
    
    #svg_trend{
         overflow:hidden;  
    }
    
    #radios{
       float:right; 
       margin-right:40px; 
    }
    
    table, td, tr{
      /*  border: .2px solid black;*/
        border-collapse:collapse;
        padding:0px;
    }
    
    table p{
        margin: 0;
    }
    
    text {
       font-size:11px;  
       fill:#555;
    }
    
    #chart {
    }
    
    #t_context{
    }
    
    #t_population{
    }
    
    #t_trend{
        padding-left:7px;
    }
    /*
    #radios ul{
        list-style-type:none;
        margin:0;
        padding:0;
    }
    
     #radios ul li{
        float:left;
    }

    #radios ul li div{
        margin-left: 5px;
        border: 2px solid; 
        width:80px;
        text-align:center;
        cursor: pointer
    }
    */
   	#radios{
		float: right;
		width: 280px;
	}
    
    #radios div {
        float: right;
        margin-left: 5px;
        border: 2px solid; 
        width:80px;
        text-align:center;
        cursor: pointer
    }
    
    .trend {
        cursor: pointer;
    }
    
    .trend_line {
        stroke: #555;
        stroke-width:2.5;
        fill:none;
    }
    
    .sparkline_title{
       font-size:12px; 
       font-weight: bold;
       fill:#555;
    }
    
    .sparkline_current{
       font-size:30px; 
       /*fill:#6DB33F;*/
       fill:#A2B69A;
    }
    
    .trend_end_point{
        /*fill:#6DB33F;*/
        fill:#A2B69A;
    }
    
    .sparkline_axis path,
    .sparkline_axis line {
        fill: none;
        stroke: #666;
        stroke-width:2;
        shape-rendering: crispEdges;
    }
    
    .sparkline_axis path {
        display: none;
    }
    
    .sparkline_axis text {
        font-size: 12px;
        font-weight: bold;
    }
    
    .population_axis path,
    .population_axis line {
        fill: none;
        stroke: #666;
        stroke-width:3;
        shape-rendering: crispEdges;
    }
    
  /*  .population_axis text {
        font-family: sans-serif;
        font-size: 20px;
    }
   */ 
   
    .text_axis {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: bold;
        fill: #555;       
    }
    
    .text_title {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: bold;
        fill: #555;       
    }
    
    .text_statis {
        font-family: sans-serif;
        font-size: 30px;
        font-weight: normal;
        fill: #555;       
    }
    
    .circle_population {
       /* fill:#6DB33F;*/
       fill:#A2B69A;
    }
    
    .population_rect {
        cursor: pointer;
    }
    
    .text_statis {
       /* fill: #6DB33F;*/
       fill:#A2B69A;
    }
   #wa_map {
        cursor: pointer;
   }
   
   #sub_description {
    
   }
   
   .measure_desc text {
        font-size: 10px;
   }
   
   #sub_description_title {
        font-size: 30px;
   }
   
   #sub_description_measure {
        font-size: 15px;
        font-weight: bold;
   }
   
	.d3-tip {
      display: block;
      width: 150px;
     /* line-height: 1;*/
      padding: 7px;
      background: #555;
      color: #fff;
      border-radius: 2px;
    } 
	
	.d3-tip {
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size:10px; 
	}
    
    .d3-tip span{
       margin-top: 15px;
    }
    
     /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: #555;
      content: "\25BC";
      position: absolute;
      text-align: center;
    }
    
    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }
    
    
   	.d3-tip-map {
      display: block;
      padding: 7px;
      background: #555;
      color: #fff;
      border-radius: 2px;
    } 
	
	.d3-tip-map {
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size:18px; 
	}

    .d3-tip-map span{
       margin-top: 15px;
    }
    
    /* Creates a small triangle extender for the tooltip */
    .d3-tip-map:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: #555;
      content: "\25BC";
      position: absolute;
      text-align: center;
    }
    
    /* Style northward tooltips differently */
    .d3-tip-map.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }
    
    
    
    